#starUI{
    position: absolute;
    color: white;
    background-color: rgba(62, 162, 255, 0.386);

    height: 35%;
    width: 300px;

    padding: 5px;

    display: grid;
    grid-template-columns: 3fr 1fr;
}