#starUI{
    position: absolute;
    color: white;
    background-color: rgba(54, 141, 222, 0.386);

    height: 40%;
    width: 350px;

    padding: 5px;
    margin: 5px;

    display: grid;
    grid-template-columns: 3fr 1fr;


    font-family: "Space Mono", sans-serif;
}

#close{
    justify-self: right;
    color: rgb(255, 21, 21)
}

#close:hover{
    cursor: pointer;
}